<form [formGroup]="editForm">
  <h2 mat-dialog-title>{{ editMode ? 'Edit' : 'Add' }} a Book</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
      <mat-hint>Enter the Title of the book</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" rows="3" formControlName="description"></textarea>
      <mat-hint>Enter the description</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 48%;">
      <input matInput placeholder="Image URL" formControlName="imageUrl">
      <mat-hint>Please enter the imageUrl, image file is not accepted</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 48%;">
      <input matInput placeholder="Authors" formControlName="authors">
      <mat-hint>Enter Author names, use comma to seperate multiple authors</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 48%;">
      <mat-select placeholder="Categories" formControlName="categories">
        <mat-option
          *ngFor="let categoty of bookCategories"
          [value]="categoty">{{ categoty }}</mat-option>
      </mat-select>
      <mat-hint>Enter Genre/Category</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 48%;">
      <input matInput placeholder="ISBN" formControlName="isbn">
      <mat-hint>Enter the ISBN number of the book</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 23%;">
      <input matInput placeholder="Average Rating" formControlName="averageRating">
      <mat-hint>Enter the average Rating</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 23%;">
      <input matInput placeholder="Ratings Count" formControlName="ratingsCount">
      <mat-hint>Enter the total Ratings given</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 23%;">
      <input type="number" matInput placeholder="Total Copies" formControlName="totalCopies">
      <mat-hint>Total number of copies</mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 23%;">
      <input type="number" matInput placeholder="Available Copies" formControlName="availableCopies">
      <mat-hint>Available number of copies</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <div class="dialog-actions">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!editForm.valid"
      [mat-dialog-close]="editForm.value">Save</button>
  </div>
</form>
