<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="projectName"
                id="projectName">
              <span *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched" class="help-block">Please provide valid Name!</span>
            </div>
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="email">
                <span *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched" class="help-block">Please provide valid email!</span>
            </div>
            <div class="form-group">
                <select name="status" id="status" class="form-control" formControlName="status">
                  <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Submit</button>
        </form>
    </div>
  </div>
</div>
