<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            class="form-control"
            ngModel
            id="email"
            name="email"
            required
            email
            #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            class="form-control"
            id="subscription"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription">{{subscription}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">This field cannot be empty!</span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
