<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
  <input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No Server was created</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server>
<app-server></app-server> -->


<!-- Assignment -->
<!-- <input
  type="text"
  class="form-control"
  [(ngModel)]="userName">
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  (click)="userName = ''"
  [disabled]="!userName.length">Reset</button> -->

  <!-- <button
    class="btn btn-primary"
    (click)="toggle()">
    Display Details
  </button>
  <p *ngIf="!secret">Toggle on button click</p>
  <ul>
    <li
      *ngFor="let a of secretArray"
      [ngStyle]="{'background-color': a > 4 ? 'blue' : ''}"
      [ngClass]="{'logs': a > 4}">
      {{a}}</li>
  </ul> -->
